# Desktop enviroment #
######################
*.directory

# IDE files, etc #
##################
*~
*.orig
*.dep
*.depend
*.Po

# Compiled Object files #
#########################
*.slo
*.lo
*.o
*.obj

# Precompiled Headers #
#######################
*.gch
*.pch

# Compiled Dynamic libraries #
##############################
*.so
*.dylib
*.dll

# Fortran module files #
########################
*.mod

# Compiled Static libraries #
#############################
*.lai
*.la
*.a
*.lib

# Executables #
###############
*.exe
*.out
*.app

# Build artifacts #
####################
Makefile

# Specific files #
##################

iec2c
iec2iec

# CMake build directories
/build*/

# Common compiler outputs when running in the source tree
/POUS.c
/POUS.h
/LOCATED_VARIABLES.h
/VARIABLES.csv

stage1_2/iec_bison.cc
stage1_2/iec_bison.h*
stage1_2/iec_flex.cc
config/config.h
!config/config.h.in
test/**

# IDE #
#######
.vscode/
.idea/
*.swp
*.swo

# OS #
######
.DS_Store
Thumbs.db

# CMake artifacts #
###################
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
